<section class="container-fluid">      
    <div class="navbar mr-auto mt-lg-0">
        <ul class="navbar-nav">
            <li class="navbar-item ">        
                <a class="navbar-link" 
                routerLink="/app-company-details">Find Campaigns</a>
            </li>   
            <li class="navbar-item ">        
                <a class="navbar-link"  
                routerLink=""
                >Income Tools</a>
            </li>   
            <li class="navbar-item ">        
                <a class="navbar-link"  
                routerLink=""
                >Creator Advice</a>
            </li>               
        </ul>    
    </div>
</section>
