<header class="container-fluid grey-bg">
    <div class="d-flex flex-column mr-2">
        <div class="mr-auto p-2 ">
            <a [routerLink]="['/landing']" class="section-title-header" >totazi</a>
        </div>
        <div class=" body-copy-header mt-2 p-2">
            <ul class="navbar-nav flex-row">
                <li class="navbar-item me-4">
                    <a class="navbar-link" routerLink="/app-company-details">Find Campaigns</a>
                </li>
                <li class="navbar-item ">
                    <a class="navbar-link" routerLink="">Income Tools</a>
                </li>
                <li class="navbar-item ">
                    <a class="navbar-link" routerLink="">Creator Advice</a>
                </li>
            </ul>
        </div>
    </div>
    <hr />
</header>