.section1 {
    width: 100%;
    height: 100%;
  }

  .landing-left{
    min-width: 100%;  
    height: 100%; 

}




/* mat-icon-stepper selected color change  */
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
background-color: red!important;
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color:#D943E8!important;
}

/* input outline color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
color:white!important;
 /* opacity: 1!important; */
}

/* mat-input error outline color */
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
color: red!important;
opacity: 0.8!important;
}

 /* mat-input carent color */
::ng-deep .mat-input-element {
caret-color: #D943E8!important;
}

 /* mat-label normal state style */
::ng-deep .mat-form-field-label {
color: rgba(0,0,0,.6)!important;
font-weight: 600;
 /* color: $mainColor!important; */
}

 /* mat-label focused style */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
color:#D943E8!important;
}
