::ng-deep {
    .custom-slider .ngx-slider .ngx-slider-bar {
      background:black;
      height: 5px; 
      
    }
    .custom-slider .ngx-slider .ngx-slider-selection {
      background: orange;
    }
  
    .custom-slider .ngx-slider .ngx-slider-pointer {
      width: 15px;
      height: 15px;
      top: auto; /* to remove the default positioning */
      bottom: -5px;
      background-color: gray; 
    }
  
    .custom-slider .ngx-slider .ngx-slider-pointer:after {
      display: none;  
    }
  
    .custom-slider .ngx-slider .ngx-slider-bubble {
      bottom: 14px; 
    }
  
    .custom-slider .ngx-slider .ngx-slider-limit {
      font-weight: bold;
      color: red;  
    }
  
    .custom-slider .ngx-slider .ngx-slider-tick {
      width: 1px;
      height: 15px;
      margin-left: 4px;
      border-radius: 0;
      background: black;
      top: -1px; 
    }
  
    .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
      background: rgb(0, 110, 255); 
    }
    // .custom-slider .ngx-slider .ngx-slider-ceil {
    //     visibility: hidden;
    // }

  }