.landing-left{
    min-width: 100%;   

}

.landing-right{
    min-width: 50%;
    padding-left: 0px;;
}



.panelGradient {
    width: auto;    
     float: right; 
    margin-left: auto;
     /* margin-left: 0px; */
     /* margin-right: 0px; */
  }