<div class="d-flex flex-row  flex-wrap mt-4 ">
<!-- <div class="d-flex flex-column align-content-start flex-wrap mt-4"> -->
    <div class=" p-2 mr-auto d-flex flex-column  flex-wrap ">
    
        <mat-form-field class="form-inputs" appearance="outline">
            <mat-label>email</mat-label>
            <input matInput />
        </mat-form-field>
        <mat-form-field class="form-inputs" appearance="outline">
            <mat-label>password</mat-label>
            <input matInput />
        </mat-form-field>
    

    
        <div>
            <button class="primary-button">login</button>&nbsp;&nbsp;&nbsp;
            <mat-label>or login with image</mat-label>
        </div>
    

    <div>
        <mat-label>
            <a [routerLink]="['/company-signup']">signup instead</a>
        </mat-label>
    </div>

    <div class="w-100"><br /></div>
    <!-- <div class="w-100"><br/></div> 
    <div class="w-100"><br/></div> 
    <div class="w-100"><br/></div>   -->
</div>
<div class=" p-2 panelGradient">
    <img src="assets/img/info-advert.png" class="panelGradient-img" />
</div>
</div>